:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h4,
p {
    margin: 0;
}

.empty-msg {
    text-align: center;
    padding: 24px;
    box-sizing: border-box;
}

.header {
    padding: 24px;
    box-sizing: border-box;
}

.title {
    color: var(--on-surface);
    display: flex;
    align-items: center;
    gap: 8px;
}

.legend {
    width: 14px;
    height: 14px;
    min-width: 14px;
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
}

.category {
    color: var(--on-surface-variant);
    padding: 0 0 0 22px;
}

.tools {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 0 24px;
    box-sizing: border-box;
    margin: 0 0 8px 0;
}

button {
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    height: 32px;
    border-radius: var(--border-radius-circle);
    color: var(--on-surface);
    background-color: var(--surface-container-high);
    border: 1px solid var(--outline);
    &:hover {
        opacity: 0.8;
    }
}

.directions-btn {
    background-color: var(--primary);
    color: var(--on-primary);
    border: 1px solid transparent;
}

.info {
    overflow-y: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.toggle-info {
    width: calc(100% - 48px);
    margin: 0 auto;
}

.info-content {
    display: none;
    overflow-y: auto;
    flex: 1;
    box-sizing: border-box;
    padding: 24px;
    scrollbar-width: thin;
    scrollbar-color: var(--surface-container-high) transparent;
}

.visible {
    display: block;
}

.property {
    margin: 0 0 16px 0;
}

.property:last-child {
    margin: 0;
}

.property-label {
    display: block;
    color: var(--on-surface-variant);
    margin: 0 0 2px 0;
}

.property-value {
    color: var(--on-surface);
}