button[is="app-bench-chip"] {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-wrap: nowrap;
}

button[is="app-bench-chip"] .info {
    display: flex;
    align-items: center;
}

button[is="app-bench-chip"] .info .legend {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
}

button[is="app-bench-chip"] .info label {
    cursor: pointer;
}