:host {
    width: 360px;
    height: fit-content;
    transform: translateY(-50%);
    background-color: transparent;
    animation: slideOut .3s ease-in-out forwards;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: none;
}

:host(.visible) {
    animation: slideIn .3s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        right: -360px;
    }

    to {
        right: 24px;
    }
}

@keyframes slideOut {
    from {
        right: 0;
    }

    to {
        right: -360px;
    }
}

@media screen and (max-width: 768px) {
    :host {
        transform: translateY(0);
        max-height: calc(100% - 144px);
        max-width: calc(100% - 96px);
    }

    @keyframes slideIn {
        from {
            left: -360px;
        }

        to {
            left: 4%;
        }
    }

    @keyframes slideOut {
        from {
            left: 0;
        }

        to {
            left: -360px;
        }
    }
}