:host {
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.logo-wrapper {
    text-align: center;
}

.logo {
    width: 48px;
    height: auto;
}

.header {
    text-align: center;
    margin: 0 0 24px 0;
}

h1 {
    color: var(--on-surface);
}

.desc {
    color: var(--on-surface-variant);
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.tags-wall {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    overflow: auto;
    margin: 0 0 24px 0;
    // flex: 1;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
        width: 0;
    }
}

.chip {
    position: relative;
    white-space: nowrap;
    text-align: center;
    flex: 1;
}

input[type="checkbox"] {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}

label {
    cursor: pointer;
    display: block;
    color: var(--on-surface);
    background-color: var(--surface-container);
    border: 1px solid var(--outline);
    border-radius: var(--border-radius-circle);
    padding: 8px 24px;
}

input[type="checkbox"]:checked+label {
    background-color: var(--surface-container-highest);
    border-color: var(--primary);
}

button {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    border-radius: var(--border-radius-circle);
    color: var(--on-primary);
    background-color: var(--primary);
    padding: 12px;
    border: 1px solid transparent;
    box-sizing: border-box;

    &:hover {
        opacity: 0.8;
    }
}