.page {
    height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    width: 360px;
}

app-search-result {
    position: fixed;
    top: 80px;
    left: 24px;
    width: 356px;
}

.fa-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 16px;
    font-size: 1.4rem;
    color: rgb(var(--f-default));
    background-color: rgb(var(--bg-default));
    border: none;

    &:hover {
        color: rgb(var(--f-emphasis));
        background-color: rgb(var(--bg-inset));
    }
}

button[is="app-tabs-toggle"] {
    border-radius: var(--border-radius-circle) 0 0 var(--border-radius-circle);
}

button[is="app-map-theme-btn"] {
    border-radius: 0 var(--border-radius-circle) var(--border-radius-circle) 0;
}

.map-controls {
    border-radius: var(--border-radius-m);
    animation: slideOut .3s ease-in-out forwards;
}

.map-controls.open {
    animation: slideIn .3s ease-in-out forwards;
}

button[is="app-map-type-btn"] {
    position: fixed;
    bottom: 120px;
    right: 24px;    
}

button[is="app-map-mode-btn"] {
    position: fixed;
    bottom: 72px;
    right: 24px;
}

button[is="app-center-position-btn"] {
    position: fixed;
    bottom: 24px;
    right: 24px;
}

input[is="app-searchbar"] {
    color: rgb(var(--f-default));
    background-color: rgb(var(--bg-default));
    padding: 0 16px;
    border: none;
    width: 100%;
    outline: none;

    &::placeholder {
        color: rgb(var(--f-muted));
    }

    &:focus {
        background-color: rgb(var(--bg-inset));
    }
}

app-tabs-sidenav {
    position: fixed;
    top: 0;
    right: -360px;
}

app-bench {
    position: fixed;
    top: 50%;
    right: -360px;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

@keyframes slideIn {
    from {
        right: 24px;
    }

    to {
        right: calc(24px + 360px);
    }
}

@keyframes slideOut {
    from {
        right: calc(24px + 360px);
    }

    to {
        right: 24px;
    }
}

@media screen and (max-width: 768px) {
    .header {
       flex-direction: column;
       gap: 8px;
    }

    .search {
        width: 100%;
    }

    app-bench {
        top: inherit;
        right: inherit;
        bottom: 24px;
        left: -360px;
    }

    app-tabs-sidenav {
        top: inherit;
        right: inherit;
        bottom: 0;
        left: 0;
    }
}