:host(.reduce) #maplibre {
    animation: shrink .3s ease-in-out forwards;
}

:host(.reduce) .maplibregl-ctrl-bottom-right {
    animation: slideIn .3s ease-in-out forwards;
}

#maplibre {
    height: 100dvh;
    animation: grow .3s ease-in-out forwards;
}

.maplibregl-ctrl-bottom-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    bottom: 24px !important;
    right: 24px !important;
    animation: slideOut .3s ease-in-out forwards;
}

.maplibregl-ctrl-group {
    margin: 0 !important;
    background-color: var(--surface-container) !important;
}

.maplibregl-ctrl-group button {
    font-family: 'Material Symbols Outlined';
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius-l);
    color: var(--on-surface);
}

.maplibregl-ctrl-group button.active {
    color: var(--primary)
}

button.maplibregl-ctrl-geolocate .maplibregl-ctrl-icon {
    background-color: var(--on-surface);
    background-image: none !important;
    mask-image: url('./images/my_location_24dp_E8EAED_FILL1_wght400_GRAD0_opsz24.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url('./images/my_location_24dp_E8EAED_FILL1_wght400_GRAD0_opsz24.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

button.maplibregl-ctrl-geolocate-active .maplibregl-ctrl-icon {
    background-color: var(--primary);
    background-image: none !important;
    mask-image: url('./images/my_location_24dp_E8EAED_FILL1_wght400_GRAD0_opsz24.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url('./images/my_location_24dp_E8EAED_FILL1_wght400_GRAD0_opsz24.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

button.maplibregl-ctrl-geolocate-background .maplibregl-ctrl-icon {
    background-color: var(--primary);
    background-image: none !important;
    mask-image: url('./images/location_searching_24dp_E8EAED_FILL1_wght400_GRAD0_opsz24.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url('./images/location_searching_24dp_E8EAED_FILL1_wght400_GRAD0_opsz24.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

@keyframes shrink {
    from {
        width: 100%;
    }

    to {
        width: calc(100% - 360px);
    }
}

@keyframes grow {
    from {
        width: calc(100% - 360px);
    }

    to {
        width: 100%;
    }
}

@keyframes slideIn {
    from {
        right: 24px;
    }

    to {
        right: calc(24px + 360px);
    }
}

@keyframes slideOut {
    from {
        right: calc(24px + 360px);
    }

    to {
        right: 24px;
    }
}

@media screen and (max-width: 768px) {
    @keyframes shrink {
        from {
            height: 100dvh;
        }

        to {
            height: calc(100dvh - 360px);
        }
    }

    @keyframes grow {
        from {
            height: calc(100dvh - 360px);
        }

        to {
            height: 100dvh;
        }
    }
}