:host {
    cursor: pointer;
    display: block;
    padding: 16px;
    background-color: var(--surface-container-high);
    border-radius: var(--border-radius-m);
}

h4,
p {
    margin: 0;
}

.path-title {
    margin: 0 0 4px 0;
}

.path-steps {
    display: flex;
    color: var(--on-surface-variant);
}