:host {
    cursor: pointer;
    display: block;
    padding: 16px;
    background-color: var(--surface-container-high);
    border-radius: var(--border-radius-m);
    border: 1px solid transparent;
    box-sizing: border-box;
}

h4 {
    color: red;
}