:host {
    display: block;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.tab {
    cursor: pointer;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: .9rem;
    font-weight: 600;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: rgb(var(--f-default));
}

.border {
    position: absolute;   
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: rgb(var(--border-accent), 1);
    transform-origin: left;
}

.selected {
    color: rgb(var(--f-emphasis), 1);
    background-color: rgb(var(--bg-default), 1);
    
    .border {
        animation: selectedTab .2s ease-in-out forwards;        
    }
}

.panel {
    height: calc(100% - 72px);
}

@keyframes selectedTab {
    to {
        width: 100%;
    }
}