:host {
    display: block;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.tab {
    width: 100%;
}

.panel {
    height: calc(100% - 40px);
}