:host {
    background-color: transparent;
    display: flex;
    gap: 8px;
    overflow-x: auto;
    max-width: calc(100% - 360px);
    scrollbar-width: none;
    padding: 0 0 0 16px;
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

@media screen and (max-width: 768px) {
    :host {
        padding: 0;
        max-width: 100%;
    }
}