button[is="app-carousel-chip"] {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    text-wrap: nowrap;
    color: var(--on-surface);
    background-color: var(--surface-container);
    border: none;
    padding: 0;
    border-radius: var(--border-radius-circle);
}

button[is="app-carousel-chip"] .info {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 8px;
    padding: 0 16px;
    border-radius: var(--border-radius-circle) 0  0 var(--border-radius-circle);
}

button[is="app-carousel-chip"] .info .legend {
    display: inline-block;
    width: 12px;
    height: 12px;
    min-width: 12px;
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
}

button[is="app-carousel-chip"] .info label {
    cursor: pointer;
}

button[is="app-carousel-chip"] .divider {
    width: 1px;
    height: calc(100% - 16px);
    background-color: var(--outline);
}

button[is="app-carousel-chip"] .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    height: 40px;
    padding: 0 16px 0 12px;
    color: crimson;
    border-radius: 0 var(--border-radius-circle) var(--border-radius-circle) 0;

    &:hover {
        background-color: var(--surface-container-low);
    }
}