:host {
    position: fixed;
    bottom: 24px;
    right: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    animation: slideOut .3s ease-in-out forwards;
}

:host(.open) {
    animation: slideIn .3s ease-in-out forwards;
}

.fa-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 16px;
    font-size: 1.4rem;
    color: rgb(var(--f-default));
    background-color: rgb(var(--bg-default));
    border: none;
    border-radius: var(--border-radius-m);

    &:hover {
        color: rgb(var(--f-emphasis));
        background-color: rgb(var(--bg-inset));
    }
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

@keyframes slideIn {
    from {
        right: 24px;
    }

    to {
        right: calc(24px + 360px);
    }
}

@keyframes slideOut {
    from {
        right: calc(24px + 360px);
    }

    to {
        right: 24px;
    }
}

@media screen and (max-width: 768px) {
    @keyframes slideIn {
        from {
            bottom: 24px;
        }

        to {
            bottom: calc(24px + 360px);
        }
    }

    @keyframes slideOut {
        from {
            bottom: calc(24px + 360px);
        }

        to {
            bottom: 24px;
        }
    }
}