:host {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--surface-container-high);
    border-radius: var(--border-radius-m);
    gap: 8px;
    border: 1px solid transparent;
    box-sizing: border-box;
}

h4,
p {
    margin: 0;
}

button {
    cursor: pointer;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--on-surface);
    padding: 0;
    border-radius: var(--border-radius-s);

    &:hover {
        color: var(--on-surface-variant);
        background-color: var(--surface-container-highest);
    }
}

.change-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.order {
    color: var(--on-surface);
    display: block;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    flex: 1;
}

.title {
    color: var(--on-surface);
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 .33rem 0;
}

.legend {
    width: 14px;
    height: 14px;
    min-width: 14px;
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
}

.category {
    color: var(--on-surface-variant);
    padding: 0 0 0 22px;
}

.remove-btn .material-symbols-outlined {
    font-size: 1.25rem;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 1.5rem;
}