@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: rgb(168, 178, 209);

    --snackbar-duration: 1s;

    --f-emphasis: 233, 235, 244;
    --f-default: 168, 178, 209;
    --f-muted: 73, 85, 117;
    --f-accent: 100, 255, 218;
    --f-danger: 190, 15, 58;

    --bg-inset: 10, 25, 47;
    --bg-default: 17, 34, 64;
    --bg-subtle: 32, 52, 81;
    --bg-accent-dull: 20, 63, 71;
    --bg-accent: 22, 85, 97;
    --bg-muted: 73, 85, 117;

    --border-accent: 100, 255, 218;

    --border-radius-s: 4px;
    --border-radius-m: 8px;
    --border-radius-circle: 96px;

    --font-size-s: .85rem;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

.snackbar-container {
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

dialog[is="app-dialog"] {
    position: relative;
    width: 500px;
    background-color: rgb(var(--bg-default), 1);
    border: none;
    padding: 24px;
    border-radius: var(--border-radius-m);
}

dialog[is="app-dialog"] .close {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    padding: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(var(--f-default));

    &:hover {
        color: rgb(var(--f-emphasis));
    }
}

dialog[is="app-dialog"] .close .material-symbols-outlined {
    font-size: 1.75rem;
}

dialog[is="app-dialog"]::backdrop {
    background-color: rgb(var(--bg-inset), .75);
    backdrop-filter: blur(4px);
}