.form {
    color: var(--on-surface);
}

h4,
p {
    margin: 0;
}

h4 {
    color: var(--on-surface);
    margin: 0 0 16px 0;
}

p {
    margin: 0 0 8px 0;
}

input.path-name-input {
    width: 100%;
    height: 40px;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    border-width: 0 0 1px 0;
    background-color: transparent;
    border-style: solid;
    color: var(--on-surface);
    border-color: var(--outline);
    margin: 0 0 16px 0;

    &::placeholder {
        color: var(--on-surface-variant);
        opacity: .25;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px 0 0 0;
}

.selection input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 0;
    width: 0;
}

.selection label {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
    padding: 0 16px;
    box-sizing: border-box;
    color: var(--on-surface);
    background-color: var(--surface-container);
    border: 1px solid var(--outline);
    border-radius: var(--border-radius-circle);
}

.selection input:checked + label {
    background-color:  var(--surface-container-highest); 
    border-color: var(--primary); 
}

.call-to-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin: 16px 0;
}

.featured {
    color: var(--primary);
    font-weight: 600;
}

button {
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: var(--border-radius-circle);
    color: var(--on-surface);
    background-color: var(--surface-container-high);
    padding: 8px 0;
    border: 1px solid var(--outline);
    box-sizing: border-box;

    &:hover {
        opacity: .8;
    }
}

button.submit-btn {
    color: var(--on-primary);
    background-color: var(--primary);
    border-color: transparent;
}

button.delete-btn {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    color: var(--on-error-container);
    background-color: var(--error-container);
    border-color: var(--error-container);
}