// .page {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100dvh;
//     overflow: hidden;
//     background-color: var(--surface);
// }

// .box {
//     max-width: 500px;
//     max-height: 100%;
//     padding: 32px;
//     background-color: var(--surface-container);
//     border-radius: var(--border-radius-l);
//     box-sizing: border-box;
// }

// @media screen and (max-width: 768px) {
//     body {
//         scrollbar-width: thin;
//         scrollbar-color: var(--surface-container-high) transparent;
//     }

//     .page {
//         display: block;
//         height: auto;
//         min-height: 100dvh;
//     }

//     .box {
//         padding: 4%;
//         max-width: 100vw;
//         width: 100vw;
//         min-height: 100dvh;
//     }
// }

:host {
    display: block;
    height: 100dvh;
    background-color: var(--surface);
    padding: 4%;
    box-sizing: border-box;
}

.page {
    height: 100%;
    max-width: 576px;
    margin: auto;
}

.box {
    height: 100%;
    width: 100%;
}